#loadSpinner {
    margin: 20px auto;
    width: 90px;
}

#returnBtn {
    margin: 0 0 10px 0;
}

.offense {
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #ccc;
}

#datepicker {
    margin: 10px 0 40px 0;
}

.dateShortcut {
    margin: 0 0 5px 0;
}

#dateSubmitBtn {
    margin: 10px 0;
}

.details {
    font-size: 1em;
}

.bcmugshot {
    width: 100%;
    box-shadow: 5px 5px 25px -7px #000;
}

#filter {
    margin: 30px 0;
}

.detaineeStory>h2.name {
    height: auto;
}

.detaineeIndex {
    cursor: pointer;
}

.btn a {
    color: #fff;
}

.bookings {
    width: 100%;
}

.leadin {
    font-weight: bold;
}

h2.name {
    font-size: .9em;
    margin: 0;
    height: 25px;
}

.booktime {
    margin: 1px 0 0 0;
    font-size: .8em;
}

.caption {
    height: 50px;
    margin: 2px 0 0 0;
}


/*  some media query stuff */


/* If the browser window is smaller than 400px, do this stuff . . . */

@media only screen and (max-width: 400px) {
    h2.name {
        font-size: .8em;
    }
    .caption {
        height: 65px;
    }
}